
.logo-text,
.landing-header,
.deep
 {
    color: rgb(16, 10, 66);
}

.started {
    color: #120B48
}

.video_name {
    color: #716D92
}

.install-btn{
        background: #120B48;
        font-size: 15px;
}


.footer{
    background-color: #120B48;
    color: white;
}

@media screen and (max-width:1000px) {
    .landing-section{
        display: block;
        text-align: center;
        
    }

    #features{
        display: block;
        text-align: center;
    }

    .content div{
        width: 100%;
    }

    .top{
        margin-left: 0;
        margin-right: 0;
    }

    .top p {
        margin-left: 0;
    }
    #features .container{
        width: 100%;
        margin-top: 5%;
        
    }

    .top h2{
        text-align: center;
    }

    .details{
        display: block;
        text-align: center;
    
    }

    .landing-header h1{
        margin-left: 0;
    }
    .landing-header h3{
        margin-left: 0;
    }

    .details div{
        width: 100%;
    }
}


@media screen and (max-width:768px) {
    .second, .midnav{
        display: none;
    }
}